<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ads</title>
  <link rel="stylesheet" href="lib/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//rawgithub.com/mgcrea/angular-motion/master/dist/angular-motion.min.css">
  <link rel="stylesheet" href="lib/angular-loading-bar-master/build/loading-bar.min.css">
  <link rel="stylesheet" href="lib/AngularJS-Toaster-master/toaster.css">
  <link rel="stylesheet" href="css/bootsnip.css">
  <link rel="stylesheet" href="css/app.css" />
</head>

<body ng-app="app" ng-controller="MainController">
  <toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>

  <div ng-controller="NavController" ng-cloak class="navbar navbar-default navbar-fixed-top col-xs-12 col-sm-12 col-md-12">
    <div class="container">
      <div class="navbar-header">
        <a href="#/" class="navbar-brand">Ads</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">

        <ul ng-if="currentUser && currentUser.role == 'user' " class="nav navbar-nav">
          <li ng-class="{active: activetab == '/myAds'}">
            <a href="#/myAds">My ads</a>
          </li>
          <li ng-class="{active: activetab == '/newAd'}">
            <a href="#/newAd">Publish New Ad</a>
          </li>
        </ul>

        <ul ng-if="currentUser && currentUser.role == 'admin' " class="nav navbar-nav">
          <li ng-class="{active: activetab == '/allAds'}">
            <a href="#/allAds"><i class="glyphicon glyphicon-th-list"></i> All ads</a>
          </li>
          <li ng-class="{active: activetab == '/users'}">
            <a href="#/users"><i class="glyphicon glyphicon-user"></i> Users</a>
          </li>
          <li ng-class="{active: activetab == '/categories'}">
            <a href="#/categories"><i class="glyphicon glyphicon-file"></i> Categories</a>
          </li>
          <li ng-class="{active: activetab == '/towns'}">
            <a href="#/towns"><i class="glyphicon glyphicon-home"></i> Towns</a>
          </li>
        </ul>

        <ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
          <li ng-class="{active: activetab == '/login'}">
            <a href="#/login">Login</a>
          </li>
          <li ng-class="{active: activetab == '/register'}">
            <a href="#/register">Sign up</a>
          </li>
        </ul>

        <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
               {{currentUser.userName}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-if="currentUser.role !== 'admin' " ng-class="{active: activetab == '/editProfile'}">
                <a href="#/editProfile">Edit Profile</a>
              </li>
              <li>
                <a href ng-click="logout()">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container view-slide-in page-content" ng-view>

  </div>


  <footer class="bs-docs-footer">
    <hr>
    <div class="container">
      <p class="text-center">
        <span class="glyphicon glyphicon-copyright-mark"></span> All rights reserved. Daniel Petrovaliev.
      </p>
    </div>
  </footer>

  <!-- libs -->
  <script type="text/javascript" src="lib/jquery-2.1.3.js"></script>
  <script type="text/javascript" src="lib/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="lib/angular-1.2.28/angular.js"></script>
  <script type="text/javascript" src="lib/angular-1.2.28/angular-resource.js"></script>
  <script type="text/javascript" src="lib/angular-1.2.28/angular-route.js"></script>
  <script type="text/javascript" src="lib/angular-1.2.28/angular-animate.js"></script>
  <script type="text/javascript" src="lib/angular-1.2.28/angular-sanitize.js"></script>
  <script src="lib/angular-ui-router.js"></script>
  <script type="text/javascript" src="lib/angular-loading-bar-master/build/loading-bar.js"></script>
  <script src="lib/AngularJS-Toaster-master/toaster.js"></script>
  <script src="lib/angular-scroll.js"></script>
  <script src="lib/ui-bootstrap-tpls-0.12.0.js"></script>
  <script src="lib/ui-utils-0.1.1/ui-utils.js"></script>

  <!-- Modules -->
  <script type="text/javascript" src="js/app.js"></script>

  <!-- Controllers -->
  <script type="text/javascript" src="js/controllers/MainController.js"></script>
  <script type="text/javascript" src="js/controllers/Ads-Controller.js"></script>
  <script type="text/javascript" src="js/controllers/RegisterController.js"></script>
  <script type="text/javascript" src="js/controllers/SideBar-Controller.js"></script>
  <script type="text/javascript" src="js/controllers/LoginController.js"></script>
  <script src="js/controllers/NavController.js"></script>
  <script src="js/controllers/UserAdsController.js"></script>
  <script src="js/controllers/addNewAdController.js"></script>
  <script src="js/controllers/EditAdController.js"></script>
  <script src="js/controllers/EditProfileController.js"></script>
  <script type="text/javascript" src="js/controllers/ConfirmDeleteAdController.js"></script>
  <script src="js/controllers/admin/AdminAdsController.js"></script>
  <script src="js/controllers/admin/EditAdAsAdminController.js"></script>
  <script src="js/controllers/admin/ConfirmDeleteAdAsAdminController.js"></script>
  <script src="js/controllers/admin/AdminUsersController.js"></script>
  <script src="js/controllers/admin/EditUserAsAdminController.js"></script>
  <script src="js/controllers/admin/ConfirmDeleteUserController.js"></script>
  <script src="js/controllers/admin/AdminCategoriesController.js"></script>
  <script type="text/javascript" src="js/controllers/admin/EditCategoryAsAdminController.js"></script>
  <script src="js/controllers/admin/AddCategoryAsAdminController.js"></script>
  <script src="js/controllers/admin/AdminTownsController.js"></script>
  <script src="js/controllers/admin/EditTownAsAdminController.js"></script>
  <script src="js/controllers/admin/AddTownAsAdminController.js"></script>

  <!-- Services -->
  <script type="text/javascript" src="js/services/listingsData.js"></script>
  <script type="text/javascript" src="js/services/categoriesAndTownsData.js"></script>
  <script type="text/javascript" src="js/services/Auth.js"></script>
  <script src="js/services/UserDataService.js"></script>
  <script src="js/services/AdminUsersData.js"></script>
  <script src="js/services/AdminCategoriesData.js"></script>
  <script type="text/javascript" src="js/services/AdminTownsData.js"></script>

  <!-- Directives -->
  <script type="text/javascript" src="js/directives/category.js"></script>
  <script type="text/javascript" src="js/directives/town.js"></script>
  <script type="text/javascript" src="js/directives/page.js"></script>
  <script src="js/directives/passwordCheck.js"></script>
  <script src="js/directives/status.js"></script>

  <!-- Filters -->
  <script type="text/javascript" src="js/filters/imageFilter.js"></script>

</html>
