<div class="row">

  <div class="col-md-3">
    <div class="input-group search-box">
      <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="query" placeholder="Search...">
    </div>

    <div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Status: </h3>
        </div>
        <div class="list-group">
          <li status class="list-group-item active aside-filter">All</li>
          <li data-status="Published" class="list-group-item aside-filter">Published</li>
          <li data-status="WaitingApproval" class="list-group-item aside-filter">Waiting Approval</li>
          <li data-status="Inactive" class="list-group-item aside-filter">Inactive</li>
          <li data-status="Rejected" class="list-group-item aside-filter">Rejected</li>
        </div>
      </div>
    </div>

    <div ng-cloak ng-controller="SideBarController">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="list-group">
          <li category class="list-group-item active aside-filter">All</li>
          <li ng-repeat="category in categories" category data-category-id="{{category.id}}" class="list-group-item aside-filter">{{category.name}}</li>
        </div>
      </div>
    </div>

    <div ng-cloak ng-controller="SideBarController" class="side-towns">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Towns</h3>
        </div>
        <div class="list-group">
          <li town class="list-group-item active aside-filter">All</li>
          <li ng-repeat="town in towns" town data-town-id="{{town.id}}" class="list-group-item aside-filter">{{town.name}}</a>
        </div>
      </div>
    </div>

  </div>

  <!-- Ads container -->
  <div class="col-md-9">
    <div class="alert alert-warning" ng-show="noResults">
      <h2>No Results !</h2>
    </div>

    <!-- AD Box -->
    <div ng-cloak ng-repeat="ad in data.ads | filter: query" class="thumbnail ad-container row ad-animation">
      <div class="col-md-3 image-container">
        <img class="img-responsive" ng-src="{{ad.imageDataUrl | adImage}}" src="" alt="">
      </div>
      <div class="caption-full col-md-6">
        <h4 class="pull-right">{{ad.date | date: "dd-MMM-yyyy"}}</h4>
        <h4>
            <a href="#/">{{ad.title}}</a>
        </h4>

        <p class="ad-text">
          {{ad.text}}
        </p>
        <div>
          <p ng-if="ad.ownerUsername" class="user-info">
            <strong>Username: </strong>
            <span class="well well-sm">
              {{ad.ownerUsername}}
            </span>
          </p>
          <p ng-if="ad.ownerName" class="user-info">
            <strong>Name: </strong>
            <span class="well well-sm">
              {{ad.ownerName}}
            </span>
          </p>
          <p ng-if="ad.ownerEmail" class="user-info">
            <strong>Email: </strong>
            <span class="well well-sm">`
              {{ad.ownerEmail}}
            </span>
          </p>
          <p ng-if="ad.ownerPhone" class="user-info">
            <strong>Phone: </strong>
            <span class="well well-sm">
              {{ad.ownerPhone}}
            </span>
          </p>
          <p ng-if="ad.categoryName" class="user-info">
            <strong>Category: </strong>
            <span class="well well-sm">
              {{ad.categoryName}}
            </span>
          </p>
          <p ng-if="ad.townName" class="user-info">
            <strong>Town: </strong>
            <span class="well well-sm">
              {{ad.townName}}
            </span>
          </p>
        </div>
        <div class="status pull-right">
          <strong>Status: </strong>
          <span class="label" ng-class="{'label-success': ad.status == 'Published', 'label-danger': ad.status == 'Rejected', 'label-warning': ad.status == 'Inactive', 'label-info': ad.status == 'WaitingApproval'}">
                  {{ad.status}}
          </span>
        </div>
      </div>

      <!-- Buttons -->
      <div class="caption-full col-md-3">

        <div class="activities-container">
          <h4>
            <a href>Activities: </a>
          </h4>
          <div ng-if=" ad.status == 'WaitingApproval' ">
            <button type="button" ng-click="approve(ad.id)" class="btn btn-labeled btn-success">
              <span class="btn-label">
            <i class="glyphicon glyphicon-off"></i>
          </span> Approve
            </button>
          </div>

          <button ng-if=" ad.status == 'WaitingApproval' " type="button" ng-click="reject(ad.id)" class="btn btn-labeled btn-warning">
            <span class="btn-label">
            	<i class="glyphicon glyphicon-thumbs-down"></i>  
            </span> Reject
          </button>

          <button type="button" ng-click="openEditModal(ad.id)" class="btn btn-labeled btn-info">
            <span class="btn-label">
              <i class="glyphicon glyphicon-pencil"></i>
          	</span> Edit
          </button>

          <button type="button" ng-click="openDeleteModal(ad.id)" class="btn btn-labeled btn-danger">
            <span class="btn-label">
                  <i class="glyphicon glyphicon-trash"></i>
            </span> Delete
          </button>
        </div>

      </div>
    </div>
    <ul ng-cloak ng-hide="noResults" class="pagination">
      <li ng-class="{disabled: currentPage == 1}">
        <a href ng-click="prevPage()">« Prev</a>
      </li>
      <li ng-repeat="n in pages" ng-class="{active: n == currentPage}" ng-click="setPage()">
        <a href page data-page-num="{{n}}">{{n}}</a>
      </li>
      <li ng-class="{disabled: currentPage == data.numPages}">
        <a href ng-click="nextPage()">Next »</a>
      </li>
    </ul>

  </div>

</div>
