<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">Edit "{{ad.title}}"</h4>
</div>
<div class="modal-body">
  <form name="editAd" class="form-horizontal row">
    <div class="col-md-7">
      <div class="form-group required" 
          ng-class="{'has-error': editAd.title.$dirty && editAd.title.$invalid, 'has-success': editAd.title.$dirty && editAd.title.$valid}">
        <label for="inputTitle" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" name="title" required ng-model="ad.title" class="form-control" id="inputTitle">
        </div>
      </div>
      <div class="form-group required" ng-class="{'has-error': editAd.text.$dirty && editAd.text.$invalid, 'has-success': editAd.text.$dirty && editAd.text.$valid}">
        <label for="inputText" class="col-lg-2 control-label">Text</label>
        <div class="col-lg-10">
          <textarea class="form-control" name="text" required ng-model="ad.text" rows="3" id="inputText"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputImage" class="col-lg-2 control-label">Image</label>
        <div class="col-lg-6">
            <input type="file" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-6">
            <input type="text" name="inputUsername" required ng-model="ad.ownerUsername" class="form-control" id="inputUsername">
        </div>
      </div>
      <div class="form-group required">
        <label for="inputDate" class="col-lg-2 control-label">Date</label>
        <div class="col-lg-6">
            <input type="datetime-local" required name="inputDate" required ng-model="ad.date" class="form-control" id="inputDate">
        </div>
      </div>
      <div class="form-group required">
        <label for="inputStatus" class="col-lg-2 control-label">Status</label>
        <div class="col-lg-6">
            <select class="form-control"  required ng-model="ad.status" id="inputStatus">
            	<option ng-selected="ad.status == 'Inactive' " value="0">Inactive</option>
            	<option ng-selected="ad.status == 'WaitingApproval' " value="1">WaitingApproval</option>
            	<option ng-selected="ad.status == 'Published' " value="2">Published</option>
            	<option ng-selected="ad.status == 'Rejected' " value="3">Rejected</option>
          	</select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputCategory" class="col-lg-2 control-label">Category</label>
        <div class="col-lg-10">
          <select class="form-control" 
              ng-model="ad.categoryId"
              id="inputCategory"
              ng-selected="0" 
              ng-options="category.id as category.name for category in categories">
            
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTown" class="col-lg-2 control-label">Town</label>
        <div class="col-lg-10">
          <select class="form-control" 
              ng-model="ad.townId"
              id="inputTown"
              ng-selected="0" 
              ng-options="town.id as town.name for town in towns">
            
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-12 image-box">
        <img ng-show="ad.imageDataUrl" class="responsive-image" ng-src="{{ad.imageDataUrl}}" src="" alt="">
        <img ng-show="ad.imageDataURL" class="responsive-image" ng-src="{{ad.imageDataURL}}" src="" alt="">
        <img ng-show="!ad.imageDataUrl && !ad.imageDataURL" src="http://placehold.it/150x150&text=No%20Image" alt="">
      </div>
      <div ng-if="ad.imageDataUrl || ad.imageDataURL" class="col-md-12">
        <button class="btn btn-warning pull-right" ng-click="deleteImage()">Delete Image</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" ng-disabled="editAd.$invalid" ng-click="edit(ad)" class="btn btn-primary button-fix">Save changes</button>
</div>
